*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body > div {
    padding: 4rem 10%;
}

.header,
.hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header .title,
.hero .title {
    color: #f9faf8;
}

.header .title {
    font-size: 1.5rem;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.header ul li a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    display: flex;
    gap: 2rem;
}

.hero .left,
.hero .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.hero .title {
    font-size: 3rem;
    font-weight: 900;
}

.hero .desc {
    font-size: 1.5rem;
    color: #e5e7eb;
}

.hero .right {
    flex: 1;
    background-color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-weight: 900;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.cards .title {
    font-size: 2rem;
    font-weight: 900;
}

.cards .figs {
    display: flex;
    justify-content: center;
    align-self: stretch;
    gap: 2rem;
}

.cards .figs figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cards .figs figure img {
    border: 4px solid #3882f6;
    border-radius: 1rem;
    flex-shrink: 0;
    width: 250px;
    height: 225px;
}

.cards .figs figure figcaption {
    max-width: 225px;
}


.quote {
    background-color: #e5e7eb;
}